@import "../../styles/vars";
@import "../../styles/mixin";

.article-page {
  padding-top: 25px;
  max-width: 49em;
  margin-left: auto;
  margin-right: auto;

  @media #{$media-md} {
    padding-top: 52px;
  }

  @media #{$media-xl} {
    padding-left: 92px;
    padding-top: 55px;
  }
}

.article-page__container {
  @include container;

  @media #{$media-md} {
    padding-left: 0;
    padding-right: 0;
  }
}
