.admin-button {
  padding: 0.75em 1em;
  background: var(--color-blue);
  border-radius: 0.35em;

  color: white;

  &--red {
    background: rgba($color: red, $alpha: 0.75);
  }

  &--gray {
    background: white;
    // background: var(--color-grey-3);
    border: 2px solid #dadee3;
    border-radius: 0.35em;

    color: #333;

    &:hover {
      background: #eef0f3;
    }
  }
}
