.ticket {
	display: grid;

	background: white;
	border-radius: 0.25em;

	overflow: hidden;
	box-shadow: 0 0 14px -4px #ccc;
	transition: 150ms ease box-shadow;

	&--expanded {
		box-shadow: 0 0 3px 0px #235EF5;
	}
}

.ticket__container {
	display: flex;
}

.ticket__details {
	display: none;

	.ticket--expanded & {
		display: initial;
	}

	&>:not(:last-child) {
		border-bottom: 1px solid #EEEEEE;
	}
}

/* Info */

.ticket-info {
	flex: 1;

	display: grid;
	row-gap: 1.5em;

	padding: 1em;
	padding-bottom: 1.5em;

	border-left: 1px solid #EEEEEE;
	border-bottom: 1px solid #EEEEEE;
}

.ticket-info__header {
	display: flex;
	align-items: center;
	justify-content: space-between;
}



.ticket-info__logos {
	display: flex;
	gap: 0.5em;

	img {
		width: 1.5em;
		height: 1.5em;

		border-radius: 50%;
		object-fit: contain;
	}
}

/* Events */

.ticket-events {
	display: flex;
	gap: 0.75em;
}

.ticket-events__button {
	.ticket-events__icon {
		color: #A1A1A1;
		transition: 250ms ease color;
	}

	&:hover,
	&--active {
		.ticket-events__icon {
			color: var(--color-blue);
		}
	}
}

.ticket-events__icon {
	width: 1em;
	height: 1em;
}

/* Timeline */

.ticket-timeline {
	display: grid;
	row-gap: 0.25em;
}

.ticket-timeline__dates {
	display: flex;
	justify-content: space-between;

	span {
		color: #A1A1A1;
	}
}

.ticket-timeline__cities {
	display: flex;
	justify-content: space-between;
}

.ticket-timeline__times {
	display: flex;
	align-items: center;
	justify-content: space-between;

	span {
		font-size: 1.75em;
		font-weight: 700;
	}
}

/* Timeline Visual */

.ticket-timeline-visual {
	flex: 1;
	// display: grid;
	// justify-content: center;

	margin: 0 2em;
}

.ticket-timeline-visual__text {
	position: absolute;
	top: -1.5em;

	width: 100%;
	text-align: center;
	color: #A1A1A1;
}


/* Timeline Entries */

.ticket-timeline-entries {
	display: flex;
	align-items: center;

	width: 100%;
	height: 0.35em;
	border-radius: 10em;
}

.ticket-timeline-entries__entry {
	$percentage: calc(var(--percentage, 25) * 1%);

	width: $percentage;
	height: inherit;

	background: #A1A1A1;

	cursor: pointer;

	&:hover {
		background: var(--color-blue)
	}


	&--travel {
		border-radius: inherit;
	}

	&--transfer {
		height: 1px;
	}
}

/* Side */

.ticket-side {
	display: grid;
	align-content: space-between;
	border-left: 1px solid #EEEEEE;
}

.ticket-side__price {
	// padding: 1rem 0;
	text-align: center;
	font-size: 1.25em;
	font-weight: 700;
}

/* Baggage*/

.ticket-baggage {
	display: flex;
}

.ticket-baggage__entry {
	flex: 1;

	display: grid;
	justify-items: center;
	row-gap: 0.25em;

	padding: 0.75em;
	background: #EEEEEE;
	border-bottom: 1px solid transparent;

	&--active {
		background: white;
		border-color: #EEEEEE;

		.ticket-baggage__icon,
		.ticket-baggage__text {
			color: var(--color-blue);
		}
	}
}

.ticket-baggage__icon {
	aspect-ratio: 1;
	height: 1.25em;
	color: #A1A1A1;

	&--baggage {
		aspect-ratio: 1.8;
	}
}

.ticket-baggage__text {
	color: #A1A1A1;
	font-size: 0.5rem;
}

/* Button */

.ticket-side-button {
	display: flex;
	align-items: center;
	justify-content: center;


	padding: 1em;
	background: #396EF6;
	border: 1px solid transparent;
	color: white;
	transition: 200ms ease color, 200ms ease background-color;

	&--pressed {
		color: #396EF6;
		border-color: currentColor;
		background: transparent;

		.ticket-side-button__icon {
			transform: rotateX(0deg);
		}
	}
}

.ticket-side-button__text {
	color: currentColor;
	font-size: 1em;
	font-weight: 500;
}

.ticket-side-button__icon {
	width: 0.625em;
	height: 0.625em;
	margin-left: 0.25em;
	transform: rotateX(180deg);
	color: currentColor;
}

/* Prepositions */

.ticket-prepositions {
	display: grid;
}

.ticket-prepositions__list {
	display: grid;
	row-gap: 1.5em;

	padding: 1em;
}

.ticket-prepositions__more {
	display: flex;
	align-items: center;
	justify-content: center;

	gap: 0.35em;
	padding: 0.5em;
	border-top: 1px solid #EEEEEE;
	color: var(--color-blue);
	cursor: pointer;

	&:hover {
		background: rgba($color: black, $alpha: 0.05);
	}
}

.ticket-prepositions__icon {
	width: 0.75em;
	height: 0.75em;
}

.ticket-prepositions__submit {
	padding: 1em 2em;
	background: #396EF6;
	border-radius: 0.35em;
	color: white;
	font-weight: 600;
}

/* Preposition */

.ticket-preposition {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.ticket-preposition__group {
	display: grid;
	justify-items: center;
	row-gap: 0.5em;
}

.ticket-preposition__title {
	font-size: 2em;
	font-weight: 700;
}

.ticket-preposition__desc {
	color: #A1A1A1;
	font-weight: 400;
}

/* Trace*/

.ticket-trace {
	display: grid;
	row-gap: 1em;

	padding: 1em;
	font-size: 0.75rem;
}

.ticket-trace__group {
	display: grid;
	row-gap: 1em;
}

.ticket-trace__header {
	display: flex;
	align-items: center;

	&--transfer {
		color: #235EF5;

		.ticket-trace__title {
			font-size: 1.25em;
		}
	}
}

.ticket-trace__title {
	margin-left: 0.25em;
	font-size: 1.5em;
	font-weight: 700;
}

.ticket-trace__time {
	margin-left: auto;
	margin-right: 2.5em;
	font-weight: 500;
}

.ticket-trace__container {
	border-radius: 0.35em;
	box-shadow: 0 0 8px -2px #ccc;
	overflow: hidden;
}

.ticket-trace__entries {
	display: flex;
	align-items: center;
	justify-content: space-between;

	padding-left: 0.75em;

	border-top: 1px solid #f2f2f2;
	border-bottom: 1px solid #f2f2f2;
}

.ticket-trace__entry {
	display: flex;
	align-content: center;
	gap: 0.25em;
}

.ticket-trace__icon {
	aspect-ratio: 1;
	height: 1.25em;


	&--chevron {
		height: 0.75em;

		transform: rotateX(180deg);
	}

	&--up {
		transform: rotateX(0deg);
	}

	&--baggageLg {
		aspect-ratio: 1.8;
	}
}

.ticket-trace__button {
	display: flex;
	align-items: center;
	gap: 0.25em;

	padding: 0.75em 1.5em;
	background: #396EF6;
	border: 1px solid transparent;
	color: white;

	&--active {
		background: white;
		border-color: #396EF6;
		color: #396EF6;
	}
}

.ticket-trace__details {
	display: none;
	padding: 1.25em 0.75em;

	&--active {
		display: grid;
	}
}

/* Trace Table */

.ticket-trace-table {
	width: 100%;

	th,
	td {
		text-align: left;
		font-weight: 500;
	}

	th {
		padding: 0.5em 0.75em;
		border-bottom: 1px solid #f2f2f2;
	}

	td {
		padding: 0.75em 0.75em;
	}

	td:nth-child(1) {
		display: flex;
		align-items: center;
		justify-content: space-between;

		&::after {
			content: "";
			padding: 3px;
			background: #A1A1A1;
			border-radius: 50%;
		}
	}

	tr:not(:last-child) td:nth-child(1)::before {
		content: "";
		position: absolute;
		right: 1em;
		bottom: -1.25em;

		width: 1px;
		height: 2.25em;

		transform: translateX(50%);

		background: #A1A1A1;
	}

	td:nth-child(2) {
		font-weight: 600;
	}
}


/// /* Entries */

.entries {
	display: grid;
	grid-template-columns: auto auto auto;
	gap: 1em;
}

.entries__entry {
	display: flex;
	gap: 0.25em;
}

.entries__key {}

.entries__value {
	font-weight: 700;
}
