.search-filters {
  display: grid;
  gap: 1em;

  input {
    max-width: 10em;

    padding: 0.75em 1em;
    background: white;
    border: 2px solid var(--color-grey-3);
    border-radius: 0.35em;
  }
}

.search-filters__container {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}
