@import "vars";
@import "mixin";

.horizontal-slider {
  width: 100%;
  height: 23px;
  position: relative;
}

.horizontal-slider__track {
  height: 1px;
  background-color: #a1a1a1;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.horizontal-slider__track-1 {
  height: 3px;
  background-color: #235ef5;
}

.horizontal-slider__thumb {
  width: 23px;
  height: 23px;
  background-color: #fff;
  border: 1px solid #eee;
  border-radius: 50%;
  box-shadow: 0 0 15px rgba(24, 50, 115, 0.15);
  box-sizing: border-box;
  cursor: pointer;
  touch-action: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;

  &::before {
    content: "";
    width: 9px;
    height: 9px;
    background-color: #235ef5;
    border-radius: 50%;
    position: absolute;
    top: 6px;
    left: 6px;
  }
}
