@import "vars";
@import "mixin";


.drop-down {
  @include ul;

  margin-top: 5px;
  box-shadow: $shadow-2;
  border-radius: 4px;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 3;

  @media #{$media-md} {
    width: 290px;
    margin-left: auto;
    margin-right: auto;
  }
  @media #{$media-lg} {
    &::before {
      left: 70px;
      transform: none;
    }
  }
}

.drop-down__item {
  border-bottom: 1px solid var(--color-blue);

  &:first-child {
    border-radius: 4px 4px 0 0;

    .drop-down__item-box {
      border-radius: 4px 4px 0 0;

      &::before {
        @include rectangle;

        transition: .2s;
      }

      &:hover,
      &:focus {
        &::before {
          border-color: transparent transparent var(--color-blue) transparent;
        }
      }
    }
  }

  &:last-child {
    border-bottom: none;
    border-radius: 0 0 4px 4px;

    .drop-down__item-box {
      border-radius: 0 0 4px 4px;
    }
  }

  &--active {
    .drop-down__inner { display: block; }
    .drop-down__item-box { border-bottom: 1px solid var(--color-blue); }
  }
}

.drop-down__item-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 11px 20px;
  background-color: var(--color-white);
  box-sizing: border-box;
  cursor: pointer;
  transition: .2s;
  position: relative;

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-blue);

    .drop-down__item-tag { color: var(--color-light-blue-2); }
  }
}

.drop-down__item-tag {
  color: var(--color-grey);
  text-transform: uppercase;
}

.drop-down__inner {
  @include ul;

  display: none;
  background-color: var(--color-white);
}

.drop-down__inner-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 7px 20px 10px 43px;
  cursor: pointer;
  position: relative;

  &:hover,
  &:focus {
    color: var(--color-white);
    background-color: var(--color-blue);

    .drop-down__item-icon,
    .drop-down__item-tag { color: var(--color-light-blue-2); }
  }
}

.drop-down__item-icon {
  color: var(--color-blue);
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
}
