// latin
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url("../fonts/inter-latin-400.woff2") format("woff2"), url("../fonts/inter-latin-400.woff") format("woff");
  src: url("../fonts/inter-latin-400.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  // src: url("../fonts/inter-latin-500.woff2") format("woff2"), url("../fonts/inter-latin-500.woff") format("woff");
  src: url("../fonts/inter-latin-500.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  // src: url("../fonts/inter-latin-600.woff2") format("woff2"), url("../fonts/inter-latin-600.woff") format("woff");
  src: url("../fonts/inter-latin-600.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  // src: url("../fonts/inter-latin-700.woff2") format("woff2"), url("../fonts/inter-latin-700.woff") format("woff");
  src: url("../fonts/inter-latin-700.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
// cyrillic
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url("../fonts/inter-cyr-400.woff2") format("woff2"), url("../fonts/inter-cyr-700.woff") format("woff");
  src: url("../fonts/inter-cyr-400.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  // src: url("../fonts/inter-cyr-500.woff2") format("woff2"), url("../fonts/inter-cyr-700.woff") format("woff");
  src: url("../fonts/inter-cyr-500.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  // src: url("../fonts/inter-cyr-600.woff2") format("woff2"), url("../fonts/inter-cyr-700.woff") format("woff");
  src: url("../fonts/inter-cyr-600.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Inter;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  // src: url("../fonts/inter-cyr-700.woff2") format("woff2"), url("../fonts/inter-cyr-700.woff") format("woff");
  src: url("../fonts/inter-cyr-700.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
// Montserrat
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url("../fonts/montserrat-cyr-400.woff2") format("woff2"), url("../fonts/montserrat-cyr-400.woff") format("woff");
  src: url("../fonts/montserrat-cyr-400.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  // src: url("../fonts/montserrat-latin-400.woff2") format("woff2"), url("../fonts/montserrat-latin-400.woff") format("woff");
  src: url("../fonts/montserrat-latin-400.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  // src: url("../fonts/montserrat-cyr-500.woff2") format("woff2"), url("../fonts/montserrat-cyr-500.woff") format("woff");
  src: url("../fonts/montserrat-cyr-500.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  // src: url("../fonts/montserrat-latin-500.woff2") format("woff2"), url("../fonts/montserrat-latin-500.woff") format("woff");
  src: url("../fonts/montserrat-latin-500.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  // src: url("../fonts/montserrat-cyr-700.woff2") format("woff2"), url("../fonts/montserrat-cyr-700.woff") format("woff");
  src: url("../fonts/montserrat-cyr-700.woff") format("woff");
  unicode-range: "U+0400-045F", "U+0490-0491", "U+04B0-04B1", "U+2116";
}
@font-face {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  // src: url("../fonts/montserrat-latin-700.woff2") format("woff2"), url("../fonts/montserrat-latin-700.woff") format("woff");
  src: url("../fonts/montserrat-latin-700.woff") format("woff");
  unicode-range: "U+0000-00FF", "U+0131", "U+0152-0153", "U+02BB-02BC", "U+02C6",
    "U+02DA", "U+02DC", "U+2000-206F", "U+2074", "U+20AC", "U+2122", "U+2191",
    "U+2193", "U+2212", "U+2215", "U+FEFF", "U+FFFD";
}
