@import "vars";
@import "mixin";

.input-group {
  position: relative;
}

.input-group__input {
  @include formInput;
  @include floatingLabel(input-group__label, 10px, 9px, 20px);

  box-shadow: $shadow;
  border-color: transparent;

  &::placeholder { opacity: 0; }

  &:placeholder-shown {
    border: 1px solid var(--color-grey);
  }
}

.input-group__label {
  @include formLabel;
}
