@import "vars";

@mixin container {
  margin-left: auto;
  margin-right: auto;

  @include Mobile {
    padding-left: $gapSm;
    padding-right: $gapSm;
  }

  @media #{$media-md} {
    padding-left: $gapLg;
    padding-right: $gapLg;
  }

  @media #{$media-lg} {
    max-width: 1110px;
    padding-left: $gapMd;
    padding-right: $gapMd;
  }
}

@mixin ul {
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

@mixin h2 {
  font-family: $title-font;
  font-size: 24px;
  line-height: 1.25;
  font-weight: 700;
  margin-bottom: 10px;

  @media #{$media-md} {
    font-size: 36px;
    line-height: 1.2;
  }
}

@mixin h3 {
  font-family: $title-font;
  font-size: 18px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 10px;

  @media #{$media-md} {
    font-size: 24px;
    margin-bottom: 15px;
  }

  @media #{$media-lg} {
    margin-bottom: 20px;
  }
}

@mixin textSm {
  font-size: 12px;
  line-height: 1.25;
  font-weight: 400;

  @media #{$media-md} {
    font-size: 16px;
  }

  @media #{$media-lg} {
    font-size: 18px;
  }
}

@mixin date {
  color: var(--color-grey);
  font-size: 12px;
  line-height: 1.25;
  font-weight: 500;
}

@mixin resetBtn {
  padding: 0;
  background: none;
  outline: none;
  border: none;
  cursor: pointer;
}

@mixin nowrap {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin userAvatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #A1A1A1;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-size: 26px;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
  }

  @media #{$media-md} {
    width: 65px;
    height: 65px;
    font-size: 40px;
  }
}

@mixin userName {
  font-family: $title-font;
  font-size: 16px;
  line-height: 1.25;
  font-weight: 700;

  @media #{$media-md} {
    font-size: 24px;
  }
}

@mixin crossIcon {

  &::before,
  &::after {
    content: "";
    width: 13px;
    height: 2px;
    margin-top: -1px;
    background-color: var(--color-blue);
    position: absolute;
    top: 50%;
    right: 0;
    transition: 0.2s;
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

@mixin button {
  font-family: $main-font;
  font-size: 14px;
  font-weight: 500;
  border: none;
  transition: 0.2s;
  color: white;
  background-color: var(--color-btn);
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color-blue);
  }
}

@mixin buttonSubmit {
  @include button;
}

@mixin formInput {
  font-size: 16px;
  font-weight: 500;
  width: 100%;
  height: 60px;
  padding: 19px 30px 8px 20px;
  border: 1px solid var(--color-grey);
  border-radius: 4px;
  box-sizing: border-box;
  outline: none;
  appearance: none;
}

@mixin formLabel {
  color: var(--color-grey);
  font-size: 16px;
  transition: 0.2s;
  position: absolute;
  top: 20px;
  left: 20px;

  &--error {
    color: var(--color-red);
  }
}

@mixin floatingLabel($className, $fontSize, $top, $left) {
  &::placeholder {
    opacity: 0;
  }

  &:not(:placeholder-shown)+.#{$className},
  &:focus+.#{$className} {
    font-size: $fontSize;
    top: $top;
    left: $left;
  }
}

@mixin ticketButton {
  color: var(--color-blue);
  background-color: var(--color-white);
  border: 1px solid var(--color-blue);
  border-radius: 0;
}

@mixin hoverBlock {
  color: var(--color-white);
  background-color: var(--color-blue);
}

@mixin rectangle($size: 10px) {
  content: "";
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 $size $size $size;
  border-color: transparent transparent var(--color-white) transparent;
  position: absolute;
  top: -4px;
  left: 50%;
  transform: translateX(-50%);
}

@mixin checkboxLabel {
  position: relative;
  padding-left: 25px;
  cursor: pointer;

  &::before,
  &::after {
    content: "";
    border-radius: 2px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
  }

  &::before {
    width: 15px;
    height: 15px;
    border: 1px solid var(--color-blue);
  }

  &::after {
    width: 7px;
    height: 7px;
    background-color: var(--color-blue);
    transition: 0.2s;
    opacity: 0;
    left: 4px;
  }
}

@mixin navLinkBefore {
  content: "";
  width: 13px;
  height: 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: absolute;
  top: 2px;
  left: -30px;
}

@mixin navLinkBeforeText {
  position: absolute;
  top: 0;
  left: -28px;

  @media #{$media-lg} {
    font-size: 18px;
    line-height: 1;
  }
}

@mixin FadeOutDownOnFocus($parent, $initTop: null) {
  top: calc(1em + #{$initTop});
  opacity: 0;
  pointer-events: none;

  &:hover,
  #{$parent}:focus-within & {
    top: $initTop;
    opacity: 1;
    pointer-events: initial;
  }

  transition: 250ms ease top,
  200ms ease opacity;
}

@mixin Mobile {
  @media screen and (max-width: #{$width-sm}) {
    @content;
  }
}

@mixin Tablet {
  @media screen and (max-width: #{$width-lg}) {
    @content
  }
}