@import "vars";
@import "mixin";

body { margin: 0; }

h1,
h2,
h3,
h4,
h5,
h6,
p { margin-top: 0; }

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol { margin-bottom: 0; }

img {
  vertical-align: middle;
  border-style: none;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

label { display: inline-block; }

button { border-radius: 0; }

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  line-height: inherit;
}

button,
input { overflow: visible; }

button,
select { text-transform: none; }

select { word-wrap: normal; }

button,
[type="button"],
[type="reset"],
[type="submit"] { appearance: button; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

textarea {
  overflow: auto;
  resize: vertical;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button { height: auto; }

[type="search"] {
  outline-offset: -2px;
  appearance: none;
}

[type="search"]::-webkit-search-decoration { appearance: none; }

template { display: none; }

[hidden] { display: none !important; }
