@import "vars";
@import "mixin";

.show-password__icon {
  fill: var(--color-grey);
  transition: 0.2s;
}

.show-password__icon-off {
  display: none;
}

.show-password {
  @include resetBtn;

  color: var(--color-grey);
  transition: 0.2s;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);

  &:hover {
    .show-password__icon {
      fill: var(--color-blue);
    }
  }

  &--active {
    .show-password__icon-off {
      display: block;
    }
    .show-password__icon-on {
      display: none;
    }
  }
}
