@import "../../styles/vars";
@import "../../styles/mixin";

.price-calendar {
	padding-top: 35px;
	padding-bottom: 50px;

	&--days {
		padding-bottom: 46px;
	}

	&--days-ticket {
		padding-bottom: 34px;
	}

	@media #{$media-md} {
		padding-top: 70px;
		padding-bottom: 106px;

		&--days {
			padding-bottom: 70px;
		}

		&--days-ticket {
			padding-bottom: 50px;
		}
	}

	@media #{$media-lg} {
		padding-top: 72px;
		padding-bottom: 100px;

		&--days {
			padding-bottom: 61px;
		}

		&--days-ticket {
			padding-bottom: 45px;
		}
	}

	@media #{$media-xl} {
		padding-bottom: 101px;

		&--days {
			padding-bottom: 60px;
		}

		&--days-ticket {
			padding-bottom: 43px;
		}
	}
}

.price-calendar-container {
	@include container;

	@media #{$media-lg} {
		max-width: 770px;
	}

	@media #{$media-xl} {
		max-width: 730px;
	}
}

.price-calendar__title {
	@include h2;

	text-align: center;
	margin-bottom: 39px;
	padding-left: 25px;
	padding-right: 25px;

	@media #{$media-md} {
		padding-left: 0;
		padding-right: 0;
	}

	@media #{$media-lg} {
		margin-bottom: 39px;
	}
}

.price-calendar__transports {
	margin-top: 30px;
	margin-bottom: 20px;

	@media #{$media-md} {
		margin-top: 40px;
		margin-bottom: 25px;
	}
}

.price-calendar__range {
	margin-top: 20px;
	margin-bottom: 30px;
}

.price-calendar__list {
	@include ul;

	display: grid;
	grid-template-columns: repeat(3, 1fr);
	gap: 10px;

	@media #{$media-md} {
		grid-template-columns: repeat(4, 1fr);
		gap: 17px 16px;
	}

	@media #{$media-lg} {
		gap: 20px 43px;
	}

	@media #{$media-xl} {
		gap: 20px 30px;
	}
}

.price-calendar__item {
	text-align: center;

	&--best {
		.price-calendar__item-link {
			background-color: var(--color-green);
			border-color: var(--color-green);
		}

		.price-calendar__month,
		.price-calendar__price {
			color: var(--color-white);
		}
	}

	&--active {
		.price-calendar__item-link {
			background-color: var(--color-blue);
			border-color: var(--color-blue);

			&:hover,
			&:focus {
				box-shadow: none;
			}
		}

		.price-calendar__month {
			color: var(--color-light-blue);
		}

		.price-calendar__price {
			color: var(--color-white);
		}
	}

	&--disabled {
		pointer-events: none;

		.price-calendar__month,
		.price-calendar__price {
			color: var(--color-grey);
		}
	}

	@media #{$media-md} {
		&--best {
			.price-calendar__text {
				display: block;
			}
		}
	}
}

.price-calendar__item-link {
	display: block;
	min-width: 90px;
	min-height: 56px;
	padding: 11px 5px 13px;
	border: 1px solid var(--color-border-third);
	border-radius: 4px;
	box-sizing: border-box;
	transition: 0.2s;

	&:hover,
	&:focus {
		text-decoration: none;
		box-shadow: $shadow;
	}

	@media #{$media-md} {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		min-width: 160px;
		min-height: 100px;
		padding-top: 8px;
	}

	@media #{$media-xl} {
		padding-bottom: 9px;
	}
}

.price-calendar__month {
	display: block;
	color: var(--color-blue);
	font-size: 10px;
	font-weight: 500;
	transition: 0.2s;

	@media #{$media-md} {
		font-size: 14px;
		margin-bottom: 4px;
	}
}

.price-calendar__price {
	color: var(--color-black);
	font-family: $title-font;
	font-size: 12px;
	font-weight: 700;
	transition: 0.2s;

	@media #{$media-md} {
		font-size: 18px;
	}
}

.price-calendar__text {
	display: none;
	color: var(--color-white);
	font-size: 12px;
	font-weight: 700;

	@media #{$media-md} {
		margin-top: 2px;
	}
}
