@import "../../styles/vars";
@import "../../styles/mixin";

@import "../../styles/vars";
@import "../../styles/mixin";

.search-form {
	@include container;

	&--ticket-list {
		margin-bottom: 10px;

		.search-form__group {
			margin-bottom: 15px;
		}
	}

	&--difficult-route {
		.search-form__inner {
			display: block;
		}

		.search-form__btn,
		.search-form__group {
			grid-area: auto;
		}

		.search-form__input {
			border-radius: 4px;
		}
	}

	@media #{$media-md} {
		&--difficult-route {
			.search-form__inner {
				box-shadow: $shadow-2;
			}

			.search-form__group {
				border: none;
				border-right: 1px solid var(--color-blue);

				&:last-child {
					border-right: none;
				}
			}

			.search-form__btn {
				width: calc(100% + 1px);
				margin-left: -1px;
				border-top: none;
				border-left: none;
				border-right: 1px solid var(--color-white);
				border-bottom: 1px solid var(--color-white);
				border-radius: 0 0 4px 0;
			}
		}
	}
}

.search-form__nav {
	margin-right: 10px;
	margin-bottom: 12px;
	margin-left: 17px;
	display: flex;
	justify-content: space-between;

	@media #{$media-md} {
		margin-left: 16px;
		justify-content: flex-start;
	}

	@media #{$media-xl} {
		margin-left: 20px;
		margin-bottom: 14px;
	}
}

.search-form__nav-btn {
	@include resetBtn;

	color: var(--color-light-blue);
	font-size: 14px;
	text-align: left;
	transition: 0.2s;
	flex-basis: 25%;

	&:hover,
	&:focus {
		color: var(--color-white);
	}

	&--active {
		color: var(--color-white);
		font-weight: 700;
	}

	@media #{$media-md} {
		flex-basis: 22%;
	}

	@media #{$media-lg} {
		flex-basis: 16%;
	}

	@media #{$media-xl} {
		flex-basis: 13.5%;
	}
}

.search-form__inner {
	display: grid;

	border-radius: 4px;
	box-shadow: 0 4px 5px rgba(0, 0, 0, 0.1);

	&--error {
		border: 2px solid rgb(198, 14, 14);
	}

	@media #{$media-md} {
		padding-top: 0;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		grid-template-areas:
			"departure departure arrival arrival"
			"date-dep date-arr passengers passengers"
			"submit submit submit submit";
	}

	@media #{$media-lg} {
		grid-template-columns: 25fr 25fr 21fr 21fr 33fr 21fr;
		grid-template-areas: "departure arrival date-dep date-arr passengers submit";
	}

	@media #{$media-xl} {
		grid-template-columns: 25fr 25fr 21fr 21fr 29fr 21fr;
	}

	@include Mobile {
		display: grid;
	}
}

// .search-form__route {
//   display: flex;
//   flex: 1;
// }

.search-form__section {
	display: flex;
}

.search-form__group {
	position: relative;
	border-top: 1px solid var(--color-blue);

	&:first-child {
		border-top: none;
	}

	&--active {
		.block-hidden {
			display: block;
		}
	}

	&--departure {
		.search-form__input {
			border-radius: 4px 4px 0 0;
		}
	}

	@media #{$media-md} {
		&--departure {
			.search-form__input {
				border-radius: 4px 0 0 0;
			}
		}

		&--arrival {
			.search-form__input {
				border-radius: 0 4px 0 0;
			}
		}

		&--departure,
		&--date-arr,
		&--date-dep {
			border-right: 1px solid var(--color-blue);
		}

		&--departure {
			grid-area: departure;
		}

		&--arrival {
			grid-area: arrival;
			border-top: none;
		}

		&--date-arr {
			grid-area: date-arr;
		}

		&--date-dep {
			grid-area: date-dep;
		}

		&--passengers {
			grid-area: passengers;
		}
	}

	@media #{$media-lg} {
		border-top: none;

		&--arrival {
			border-right: 1px solid var(--color-blue);

			.search-form__input {
				border-radius: 0;
			}
		}

		&--departure {
			.search-form__input {
				border-radius: 4px 0 0 4px;
			}
		}
	}
}

.search-form__input {
	font-family: $main-font;
	font-size: 16px;
	line-height: 1;
	font-weight: 500;
	width: 100%;
	padding: 21px 17px 8px;
	border: none;
	border-radius: 0;
	box-sizing: border-box;

	&:focus {
		// box-shadow: none;
	}

	@include floatingLabel(search-form__placeholder, 10px, 7px, 17px);

	@media #{$media-md} {
		height: 60px;
		padding-left: 16px;
		padding-right: 5px;
		padding-bottom: 10px;

		@include floatingLabel(search-form__placeholder, 10px, 12px, 16px);

		&--arrival,
		&--passenger {
			padding-left: 22px;

			@include floatingLabel(search-form__placeholder, 10px, 12px, 22px);
		}
	}

	@media #{$media-lg} {
		font-size: 14px;

		&--arrival {
			padding-left: 28px;

			@include floatingLabel(search-form__placeholder, 10px, 12px, 28px);
		}

		&--passenger {
			padding-left: 16px;

			@include floatingLabel(search-form__placeholder, 10px, 12px, 16px);
		}
	}

	@media #{$media-xl} {
		font-size: 16px;
		padding-left: 20px;

		@include floatingLabel(search-form__placeholder, 10px, 9px, 20px);

		&--arrival {
			padding-left: 33px;

			@include floatingLabel(search-form__placeholder, 10px, 9px, 33px);
		}
	}
}

.search-form__placeholder {
	@include formLabel;

	top: 15px;
	left: 17px;
	cursor: text;
	pointer-events: none;

	@media #{$media-md} {
		top: 20px;
		left: 15px;

		&--arrival,
		&--passenger {
			left: 22px;
		}
	}

	@media #{$media-lg} {
		font-size: 14px;

		&--arrival {
			left: 28px;
		}
	}

	@media #{$media-xl} {
		font-size: 16px;
		left: 20px;

		&--arrival {
			left: 33px;
		}
	}
}

.search-form__switch {
	padding: 0;
	width: 30px;
	height: 30px;
	position: absolute;
	top: 35px;
	right: 35px;
	z-index: 1;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	background-color: white;
	background-image: url("./../../img/icons/switch.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border-radius: 50%;
	border: 1px solid var(--color-blue);
	cursor: pointer;

	@media #{$media-md} {
		top: 15px;
		right: 0;
		transform: translateX(50%) rotate(90deg);
	}
}

.search-form__btn {
	@include buttonSubmit;

	padding: 16px;
	text-align: center;
	line-height: 1;
	// width: 100%;
	border: 1px solid white;
	border-radius: 0 0 4px 4px;

	@media #{$media-md} {
		padding: 22px 20px 23px;
		grid-area: submit;
		border-top: none;
	}

	@media #{$media-lg} {
		padding: 20px 28px 21px;
		border: 1px solid white;
		border-radius: 0 4px 4px 0;
	}

	@media #{$media-xl} {
		padding-left: 43px;
		padding-right: 43px;
	}
}

.search-form__checkbox {
	margin-top: 13px;

	@media #{$media-md} {
		margin-top: 20px;
	}

	@media #{$media-lg} {
		margin-top: 14px;
		margin-left: 1px;
	}
}

.search-form__wrap {
	margin-bottom: 10px;
	border-radius: 4px;
	background-color: var(--color-white);
	box-shadow: $shadow-2;

	&:last-child {
		margin-bottom: 0;
	}

	@media #{$media-md} {
		display: grid;
		grid-template-columns: 1fr 1fr 30%;
		margin-bottom: 0;
		border-bottom: 1px solid var(--color-blue);
		border-radius: 0;
		box-shadow: none;

		&:first-child {
			border-radius: 4px 4px 0 0;
		}

		&:last-child {
			border-bottom: none;
			border-radius: 0 0 4px 4px;
		}
	}
}

.search-form__add-route {
	@include resetBtn;

	color: var(--color-blue);
	width: 100%;
	font-size: 14px;
	font-weight: 500;
	min-height: 50px;
	background-color: var(--color-white);
	border-top: 1px solid var(--color-blue);

	@media #{$media-md} {
		border-top: none;
	}
}

.form-close {
	text-align: center;
	margin-top: 5px;

	@media #{$media-md} {
		margin-top: 2px;
	}

	@media #{$media-lg} {
		margin-top: 1px;
	}
}

.form-close__btn {
	@include resetBtn;

	padding: 10px;
	color: var(--color-white);

	@media #{$media-md} {
		padding-bottom: 12px;
	}
}

.form-close__icon {
	width: 1.25em;
	height: 1.25em;
}

.search-form {
	&--complicated {
		.search-form__inner {
			display: grid;
			grid-template-areas: unset;
			grid-template-columns: unset;

			&>* {
				grid-area: unset;
			}

			&>*:not(:last-child) {
				border-bottom: 1px solid var(--color-blue);
			}

			&>*>*:not(:last-child) {
				border-right: 1px solid var(--color-blue);
			}
		}


		.search-form__input {
			border-radius: unset;
		}

		.search-form__group {
			border: unset;
		}

		@include Mobile {

			.search-form__inner {
				gap: 1.5em;
				box-shadow: unset;

				&>*>*:not(:last-child) {
					border-right: unset;
				}
			}
		}
	}
}

.search-form__dates {
	position: absolute;
	top: 100%;
	left: 50%;

	transform: translateX(-50%);
	transition: 250ms ease top, 200ms ease opacity;

	z-index: 1;

	&::before {
		@include rectangle;

		left: 35%;
		transform: translateX(-50%);
		transition: 250ms ease left;
	}

	&--offset::before {
		left: 65%;
	}

	&--hidden {
		top: calc(100% + 1em);
		opacity: 0;
		pointer-events: none;
	}

	@include Tablet {
		top: calc(100% - 4em);

		&::before {
			left: 2.5em;
		}

		&--offset::before {
			left: 35%;
		}

		&--hidden {
			top: calc(100% - 3em);
		}
	}

	@media screen and (max-width: #{$width-md - 1px}) {
		position: fixed;
		inset: 0;

		transform: unset;

		overflow: auto;
		overscroll-behavior: contain;

		&::before {
			content: unset;
		}
	}
}

.search-form__route {
	display: flex;

	&>* {
		flex: 1;
	}

	&:first-child {
		&>.search-form__group:nth-child(1) .search-form__input {
			border-radius: 4px 0 0 0;
		}

		&>.search-form__group:nth-child(3) .search-form__input {
			border-radius: 0 4px 0 0;
		}
	}

	@include Mobile {
		display: grid;

		&>.search-form__group:nth-child(1) .search-form__input {
			border-radius: 4px 4px 0 0 !important;
		}

		&>.search-form__group:nth-child(3) .search-form__input {
			border-radius: 0 0 4px 4px !important;
		}
	}
}

.search-form__actions {
	display: flex;

	&>* {
		flex: 1;
	}

	&>:first-child .search-form__input {
		border-radius: 0 0 0 4px;
	}

	&>:last-child {
		border-radius: 0 0 4px 0;
	}

	.search-form__btn {
		padding-left: unset;
		padding-right: unset;

		border-top: unset;
		border-left: unset;
	}

	@include Mobile {
		display: grid;

		&>:first-child .search-form__input {
			border-radius: 4px 4px 0 0;
		}

		&>:last-child {
			border-radius: unset;
		}

		.search-form__btn {
			border-left: 1px solid;
			border-radius: 0 0 4px 4px;
		}
	}
}

.search-form__btn--add {
	background: white !important;
	border: unset !important;
	border-radius: unset !important;
	color: #396EF6;
	text-align: center;
}
