.contacts__item {
  margin-bottom: 43px;

  &:last-child {
    margin-bottom: 0;
  }
}

.contacts__title {
  font-family: $title-font;
  color: var(--color-blue);
  font-size: 14px;
  margin-bottom: 10px;
}

.contacts__info {
  font-size: 18px;
  color: inherit;
}

.contacts__item-link {
  color: inherit;
  font-size: 12px;
  text-decoration: none;
  margin-right: 30px;
  transition: 0.2s;

  &:last-child {
    margin-right: 0;
  }
}

.contacts__item-icon {
  margin-top: -2px;
  margin-right: 10px;
}
