@import "../../styles/vars";
@import "../../styles/mixin";

.header {
  background-color: var(--color-blue);
}

.header__container {
  @include container;

  padding-top: 14px;
  padding-bottom: 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;

  @media #{$media-md} {
    padding-top: 18px;
    padding-bottom: 24px;
  }
}

.logo {
  color: var(--color-white);
  position: relative;
  z-index: 9;

  &--color {
    color: var(--color-blue);
  }

  @media #{$media-md} {
    &--color {
      color: var(--color-white);
    }
  }
}

.skip-nav-link {
  // position: absolute;

  &:not(:focus) {
    content-visibility: hidden;
  }
}
