@import "../../styles/vars";
@import "../../styles/mixin";

.nav {}

.nav__inner {
	display: flex;
	align-items: center;
	z-index: 1;

	@include Tablet {
		position: absolute;
		right: 0;

		display: grid;

		border-radius: 0.25em;
		overflow: hidden;

		opacity: 0;
		pointer-events: none;
		transform: translateY(15%);
		transition: 150ms opacity, 200ms ease transform;

		.nav--active & {
			opacity: 1;
			transform: translateY(0%);
			pointer-events: initial;
		}
	}
}

.nav__toggle {
	display: none;
	width: 20px;
	height: 16px;
	cursor: pointer;

	@include Tablet {
		display: block;
	}
}

.nav__toggle-item {
	width: 20px;
	height: 2px;
	background-color: var(--color-white);
	display: block;

	.nav--active & {
		background: transparent;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&::before,
	&::after {
		width: 20px;
		height: 2px;
		background-color: $color-white;
		position: absolute;
		left: 0;
		display: block;
		content: "";
		transition: 0.2s;
	}

	&::before {
		transform: translateY(-6px);
	}

	&::after {
		transform: translateY(6px);
	}
}

/* Group */

.nav__group {
	display: flex;
	align-items: center;

	@include Tablet {
		display: grid;
		row-gap: 0.5em;

		padding: 1em 1.75em;
		background: white;

		&:not(:last-child) {
			border-bottom: 1px solid #A1A1A1;
		}
	}
}

.nav__link {
	display: flex;
	align-items: center;

	white-space: nowrap;

	color: var(--color-base);
	margin-bottom: 15px;
	transition: 200ms color;
	position: relative;

	&:last-child {
		margin-bottom: 0;
	}

	&--hide {
		display: none;
	}

	&--russia::before {
		@include navLinkBefore;

		background-image: url("./../../img/icons/russia.svg");
	}

	&--english::before {
		@include navLinkBefore;

		background-image: url("./../../img/icons/united-kingdom.svg");
	}

	&--deutsch::before {
		@include navLinkBefore;

		background-image: url("./../../img/icons/germany.svg");
	}

	&--rub::before {
		@include navLinkBeforeText;

		content: "₽";
	}

	&--usd::before {
		@include navLinkBeforeText;

		content: "$";
	}

	&--eur::before {
		@include navLinkBeforeText;

		content: "€";
	}

	&:hover,
	&:focus {
		color: var(--color-blue);
	}

	@media #{$media-lg} {
		color: var(--color-white);
		font-size: 12px;
		margin-right: 25px;
		margin-bottom: 0;
		padding-left: 20px;

		&:last-child {
			margin-right: 0;
		}

		&:hover,
		&:focus {
			color: var(--color-white);
		}

		&--hide {
			display: block;
		}

		&--user {
			display: none;
		}

		&--cabinet {
			padding-left: 12px;
			padding-right: 12px;
		}
	}
}

.nav__link-icon {
	width: 1.25em;
	height: 1.25em;

	margin-right: 0.75em;
}

.nav__link-text {
	@media #{$media-lg} {
		display: none;
	}
}

.nav__title {
	margin-bottom: 0;

	&--active {
		padding-bottom: 10px;
	}

	&--active+.nav__sublist {
		display: flex;
	}

	@media #{$media-lg} {
		&::before {
			display: block;
			width: 16px;
			height: 15px;
			position: static;
			transform: none;
		}
	}
}

.nav__icon-arrow {
	margin-left: 5px;

	@media #{$media-lg} {
		display: none;
	}
}

.nav__item {
	margin-bottom: 15px;

	@media #{$media-lg} {
		margin-bottom: 0;
		margin-right: 27px;

		.nav__link {
			margin: 0;
			padding: 0;
		}

		&--language {
			margin-right: 0;
			order: 2;
		}

		&--currency {
			.nav__title {
				&::before {
					width: auto;
					height: auto;
				}
			}
		}
	}
}

.nav__sublist {
	display: none;
	flex-direction: column;

	.nav__link {
		margin-bottom: 10px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	@media #{$media-lg} {
		width: 220px;
		margin-top: 19px;
		padding: 17px 20px 18px 54px;
		background-color: var(--color-white);
		border-radius: 4px;
		box-shadow: $shadow-2;
		box-sizing: border-box;
		position: absolute;
		top: 100%;
		transform: translateX(-50%);

		.nav__link {
			color: var(--color-base);
			font-size: 14px;

			&::before {
				font-size: 18px;
			}

			&:hover,
			&:focus {
				color: var(--color-blue);
			}
		}
	}
}
