@import "../../styles/vars";
@import "../../styles/mixin";

.nav {}

.nav__inner {
	display: flex;
	align-items: center;
	z-index: 1;

	&>*:not(:last-child) {
		padding-right: 2em;
		margin-right: 2em;
		border-right: 1px solid #396EF6;
	}

	@include Tablet {
		position: absolute;
		right: 0;

		display: grid;

		border-radius: 0.25em;
		overflow: hidden;

		opacity: 0;
		pointer-events: none;
		transform: translateY(15%);
		transition: 150ms opacity, 200ms ease transform;

		.nav--active & {
			opacity: 1;
			transform: translateY(0%);
			pointer-events: initial;
		}

		&>*:not(:last-child) {
			margin-right: unset;
			border-right: unset;
		}
	}
}

.nav__toggle {
	display: none;
	width: 20px;
	height: 16px;
	cursor: pointer;

	@include Tablet {
		display: block;
	}
}

.nav__toggle-item {
	width: 20px;
	height: 2px;
	background-color: var(--color-white);
	display: block;

	.nav--active & {
		background: transparent;

		&::before {
			transform: rotate(45deg);
		}

		&::after {
			transform: rotate(-45deg);
		}
	}

	&::before,
	&::after {
		width: 20px;
		height: 2px;
		background-color: $color-white;
		position: absolute;
		left: 0;
		display: block;
		content: "";
		transition: 0.2s;
	}

	&::before {
		transform: translateY(-6px);
	}

	&::after {
		transform: translateY(6px);
	}
}

/* Group */

.nav__group {
	display: flex;
	align-items: center;
	gap: 2.5em;

	@include Tablet {
		display: grid;
		row-gap: 1em;

		padding: 1em 1.75em;
		background: white;

		&:not(:last-child) {
			border-bottom: 1px solid #A1A1A1;
		}
	}
}


.nav__link {
	display: flex;
	align-items: center;

	white-space: nowrap;

	color: var(--color-base);
	transition: 200ms color;
	position: relative;

	&--hide {
		display: none;
	}

	&:hover,
	&:focus {
		color: var(--color-blue);
	}

	.nav__icon {
		margin-right: 0.75em;
	}

	@media #{$media-lg} {
		color: var(--color-white);
		font-size: 12px;

		&:hover,
		&:focus {
			color: var(--color-white);
		}
	}
}

.nav__icon {
	width: 1.25em;
	height: 1.25em;
	transition: 250ms ease transform;

	@include Tablet {
		width: 0.75em;
		height: 0.75em;
	}

	&--chevron {
		width: 0.5em;
		height: 0.5em;
	}

	&--up {
		transform: rotateX(180deg);
	}
}

.nav__link-text {
	@media #{$media-lg} {
		display: none;
	}
}

.nav__title {
	margin-bottom: 0;

	&--active {
		padding-bottom: 10px;
	}

	&--active+.nav__sublist {
		display: flex;
	}

	@media #{$media-lg} {
		&::before {
			display: block;
			width: 16px;
			height: 15px;
			position: static;
			transform: none;
		}
	}
}

.nav__icon-arrow {
	margin-left: 5px;

	@media #{$media-lg} {
		display: none;
	}
}

.nav__item {
	margin-bottom: 15px;

	@media #{$media-lg} {
		margin-bottom: 0;
		margin-right: 27px;

		.nav__link {
			margin: 0;
			padding: 0;
		}

		&--language {
			margin-right: 0;
			order: 2;
		}

		&--currency {
			.nav__title {
				&::before {
					width: auto;
					height: auto;
				}
			}
		}
	}
}

.nav-sublist {}

.nav-sublist__label {
	display: flex;
	align-items: center;
	gap: 1.5em;

	color: white;
	cursor: pointer;
	white-space: nowrap;


	&>* {
		display: none;
	}

	&>:first-child {
		display: unset;
	}


	@include Tablet {
		color: #333;

		span,
		svg {
			display: unset;
		}
	}
}

.nav-sublist__menu {
	position: absolute;
	top: 2em;
	left: 50%;

	display: grid;
	row-gap: 1em;

	padding: 1.5em;
	background: white;
	border-radius: 0.5em;
	transform: translateX(-50%);
	transition: 250ms ease transform, 250ms ease opacity;

	&:not(&--expanded) {
		opacity: 0;
		transform: translateX(-50%) translateY(1em);
		pointer-events: none;

		@include Tablet {
			opacity: unset;
			transform: unset;
			pointer-events: unset;
			display: none;
		}
	}

	@include Tablet {
		position: relative;
		top: unset;
		left: unset;
		transform: unset;
		padding: unset;
		margin-top: 1em;
	}
}

.nav-sublist__item {
	display: flex;
	align-items: center;
	gap: 1.5em;

	white-space: nowrap;
	cursor: pointer;

	@include Tablet {
		&--active {
			color: #396EF6;
		}
	}
}
