@import "../../styles/vars";
@import "../../styles/mixin";

.nav {
  position: relative;
  z-index: 8;

  &--opened {
    padding-top: 66px;
    padding-bottom: 66px;
    background-color: var(--color-white);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: calc(100% - 130px);
    overflow: scroll;

    .nav__toggle {
      position: absolute;
      top: 17px;
      right: 15px;
    }

    .nav__toggle-item {
      height: 0;

      &::before,
      &::after {
        background-color: var(--color-blue);
      }

      &::before {
        transform: rotate(45deg);
      }

      &::after {
        transform: rotate(-45deg);
      }
    }

    .nav__list {
      display: flex;

      &--top {
        display: none;
      }
    }
  }

  @media #{$media-md} {
    &--opened {
      width: 270px;
      padding-top: 20px;
      padding-bottom: 20px;
      border-radius: 4px;
      box-shadow: $shadow-2;
      top: 57px;
      left: auto;
      right: 39px;

      .nav__toggle {
        top: -36px;
        right: 0;
      }

      .nav__toggle-item {
        &::before,
        &::after {
          background-color: var(--color-white);
        }
      }
    }
  }
  @media #{$media-lg} {
    display: flex;
    align-items: center;
  }
}

.nav__toggle {
  padding: 0;
  display: block;
  width: 20px;
  height: 16px;
  background: none;
  border: none;
  cursor: pointer;

  @media #{$media-lg} {
    display: none;
  }
}

.nav__toggle-item {
  width: 20px;
  height: 2px;
  background-color: var(--color-white);
  top: 7px;
  display: block;

  &::before,
  &::after {
    width: 20px;
    height: 2px;
    background-color: $color-white;
    position: absolute;
    left: 0;
    display: block;
    content: "";
    transition: 0.2s;
  }

  &::before {
    transform: translateY(-6px);
  }
  &::after {
    transform: translateY(6px);
  }
}

.nav__list {
  display: none;
  flex-direction: column;
  padding-left: 45px;

  &--links {
    margin-bottom: 20px;
  }

  &--setting {
    padding-top: 17px;
    border-top: 1px solid var(--color-grey);
  }

  @media #{$media-md} {
    padding-left: 60px;
  }
  @media #{$media-lg} {
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    padding: 0;
    border: none;

    &--links {
      margin-right: 40px;
    }

    &--setting {
      min-width: 135px;
      padding-left: 40px;
      padding-right: 40px;
      box-sizing: border-box;
      border-left: 1px solid var(--color-btn);
      border-right: 1px solid var(--color-btn);
    }

    &--top {
      display: block;
      margin-left: 15px;
      line-height: 1;
    }
  }
  @media #{$media-xl} {
    &--top {
      margin-right: 14px;
    }
  }
}

.nav__link {
  display: block;
  color: var(--color-base);
  margin-bottom: 15px;
  transition: 0.2s;
  position: relative;

  &:last-child {
    margin-bottom: 0;
  }

  &--hide {
    display: none;
  }

  &--russia::before {
    @include navLinkBefore;

    background-image: url("./../../img/icons/russia.svg");
  }

  &--english::before {
    @include navLinkBefore;

    background-image: url("./../../img/icons/united-kingdom.svg");
  }

  &--deutsch::before {
    @include navLinkBefore;

    background-image: url("./../../img/icons/germany.svg");
  }

  &--rub::before {
    @include navLinkBeforeText;

    content: "₽";
  }

  &--usd::before {
    @include navLinkBeforeText;

    content: "$";
  }

  &--eur::before {
    @include navLinkBeforeText;

    content: "€";
  }

  &:hover,
  &:focus {
    color: var(--color-blue);
  }

  @media #{$media-lg} {
    color: var(--color-white);
    font-size: 12px;
    margin-right: 25px;
    margin-bottom: 0;
    padding-left: 20px;

    &:last-child {
      margin-right: 0;
    }

    &:hover,
    &:focus {
      color: var(--color-white);
    }

    &--hide {
      display: block;
    }

    &--user {
      display: none;
    }

    &--cabinet {
      padding-left: 12px;
      padding-right: 12px;
    }
  }
}

.nav__link-icon {
  position: absolute;
  top: 50%;
  left: -30px;
  transform: translateY(-50%);

  @media #{$media-lg} {
    left: 0;

    &--cabinet {
      position: static;
      transform: none;

      .nav__user-on {
        display: none;
      }
      .nav__user-off {
        display: block;
      }
    }

    &--on {
      .nav__user-off {
        display: none;
      }
      .nav__user-on {
        display: block;
      }
    }
  }
}

.nav__link-text {
  @media #{$media-lg} {
    display: none;
  }
}

.nav__title {
  margin-bottom: 0;

  &--active {
    padding-bottom: 10px;
  }

  &--active + .nav__sublist {
    display: flex;
  }

  @media #{$media-lg} {
    &::before {
      display: block;
      width: 16px;
      height: 15px;
      position: static;
      transform: none;
    }
  }
}

.nav__icon-arrow {
  margin-left: 5px;

  @media #{$media-lg} {
    display: none;
  }
}

.nav__item {
  margin-bottom: 15px;

  @media #{$media-lg} {
    margin-bottom: 0;
    margin-right: 27px;

    .nav__link {
      margin: 0;
      padding: 0;
    }

    &--language {
      margin-right: 0;
      order: 2;
    }

    &--currency {
      .nav__title {
        &::before {
          width: auto;
          height: auto;
        }
      }
    }
  }
}

.nav__sublist {
  display: none;
  flex-direction: column;

  .nav__link {
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media #{$media-lg} {
    width: 220px;
    margin-top: 19px;
    padding: 17px 20px 18px 54px;
    background-color: var(--color-white);
    border-radius: 4px;
    box-shadow: $shadow-2;
    box-sizing: border-box;
    position: absolute;
    top: 100%;
    transform: translateX(-50%);

    .nav__link {
      color: var(--color-base);
      font-size: 14px;

      &::before {
        font-size: 18px;
      }

      &:hover,
      &:focus {
        color: var(--color-blue);
      }
    }
  }
}
