@import "~styles/vars";
@import "~styles/mixin";

.feedback {
	@media #{$media-xl} {
		max-width: 920px;
		margin-left: auto;
		margin-right: auto;
	}
}

.feedback__h2 {
	margin-bottom: 30px;

	@media #{$media-md} {
		max-width: 450px;
		margin-left: 240px;
		margin-bottom: 40px;
	}

	@media #{$media-lg} {
		max-width: 540px;
		margin-left: 320px;
	}

	@media #{$media-xl} {
		margin-left: 379px;
	}
}

.feedback__wrap {
	display: grid;
	gap: 40px;

	@media #{$media-md} {
		grid-template-columns: 225px 1fr;
		gap: 0 15px;
	}

	@media #{$media-lg} {
		gap: 0 95px;
	}

	@media #{$media-xl} {
		gap: 0 154px;
	}
}

.feedback__form {
	@media #{$media-md} {
		order: 2;
	}
}

.feedback__input {
	margin-bottom: 15px;

	@media #{$media-md} {
		margin-right: 60px;
	}

	@media #{$media-lg} {
		margin-right: 240px;
	}

	@media #{$media-xl} {
		margin-right: 190px;
	}
}

.feedback__textarea {
	font-size: 14px;
	padding-top: 20px;
	min-height: 180px;

	@media #{$media-md} {
		min-height: 150px;
	}
}

.feedback__submit {
	margin-top: 15px;
	min-height: 60px;

	@media #{$media-md} {
		width: auto;
		min-width: 60%;
		margin-top: 20px;
	}

	@media #{$media-lg} {
		min-width: 47.4%;
	}

	@media #{$media-xl} {
		min-width: 255px;
	}
}
