@import "../../styles/vars";
@import "../../styles/mixin";

.form-profile {
  display: grid;
  row-gap: 20px;

  @media #{$media-md} {
    row-gap: 15px;
  }
}

.form-profile__row {
  @media #{$media-md} {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
  @media #{$media-xl} {
    width: 730px;
  }
}

.form-profile__group {
  margin-bottom: 15px;

  @media #{$media-md} {
    margin-bottom: 0;
  }
}
