@import "../../styles/vars";
@import "../../styles/mixin";

.articles {
  padding-top: 32px;

  @media #{$media-md} {
    padding-top: 49px;
  }

  @media #{$media-lg} {
    padding-top: 43px;
  }

  .section__list {
    padding: unset;
  }
}

.articles__container {
  @include container;

  @media #{$media-md} {
    max-width: 690px;
  }

  @media #{$media-lg} {
    max-width: 930px;
  }

  @media #{$media-xl} {
    max-width: 1110px;
  }
}

.articles__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 290px;
  margin-bottom: 33px;
  position: relative;

  @media #{$media-md} {
    margin-bottom: 42px;
  }

  @media #{$media-lg} {
    margin-bottom: 48px;
  }
}

.articles__nav-wrap {
  display: flex;
}

.articles__list {
  @include ul;

  display: flex;
  align-items: center;
  padding-right: 5px;

  @media #{$media-md} {
    padding-right: 20px;
  }
}

.articles__item {
  margin-right: 17px;

  &:last-child {
    margin-right: 0;
  }

  @media #{$media-md} {
    margin-right: 35px;
  }
}

.articles__link {
  display: block;
  color: var(--color-grey);
  font-family: $title-font;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  text-transform: uppercase;

  &:last-child {
    margin-right: 0;
  }

  &--active {
    color: var(--color-blue);
    font-weight: 700;

    &:hover,
    &:focus {
      text-decoration: none;
    }

    .articles__link-sharp {
      display: none;
    }
  }
}

.articles__subnav {
  color: var(--color-grey);
  margin-bottom: -15px;
  padding: 0 15px 15px;
  cursor: pointer;

  &:hover,
  &:focus {
    .articles__sublist {
      display: block;
    }
  }

  &--empty {
    display: none;
  }

  @media #{$media-md} {
    position: relative;
  }
}

.articles__sublist {
  @include ul;

  display: none;
  width: 100vw;
  padding: 8px 20px 12px 66px;
  background-color: var(--color-white);
  border-radius: 4px;
  box-shadow: $shadow-2;
  box-sizing: border-box;
  transition: 0.2s;
  cursor: default;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  transform: translate(-15px, -8px);
  z-index: 2;

  &::before {
    @include rectangle;
  }

  .articles__item {
    margin-right: 0;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media #{$media-md} {
    width: 220px;
    padding: 18px 25px;
    right: auto;
    transform: translate(-10px, -8px);
  }
}

.articles__all {
  width: 290px;
  margin-left: auto;
  margin-right: auto;

  .section__list {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3em 2em;
  }

  .section__item {
    margin-right: 0;
  }

  @media #{$media-md} {
    width: auto;

    .section__list {
      grid-template-columns: repeat(3, 1fr);
    }
  }

  @media #{$media-lg} {
    .section__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  @media #{$media-xl} {
    .section__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
