@import "../../styles/vars";
@import "../../styles/mixin";

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-white);
  min-width: 50px;
  min-height: 50px;
  background-color: var(--color-blue);
  border-radius: 4px;
  cursor: pointer;
  transition: 0.2s;
  z-index: 2;

  &:hover,
  &:focus {
    background-color: var(--color-hover-blue);
  }

  @media #{$media-md} {
    min-width: 60px;
    min-height: 60px;
  }
}
