@import "../../styles/vars";
@import "../../styles/mixin";

.ticket-mini {
	font-family: $main-font;
	font-size: 12px;
	font-weight: 400;
	background-color: var(--color-white);
	border-radius: 4px;
	box-shadow: $shadow;

	&--opened {
		.ticket-mini__btn-info {
			@include ticketButton;
		}

		.btn__arrow-icon {
			transform: rotate(180deg);
		}

		.ticket-mini__info {
			display: grid;
			grid-template-columns: 1fr 1fr;
			gap: 9px 0;
		}
	}

	@media #{$media-md} {
		&--opened {
			.ticket-mini__info {
				display: flex;
			}
		}
	}
}

.ticket-mini__top {
	display: flex;
	align-items: center;
	font-size: 12px;
	font-weight: 400;
	padding: 5px 10px 4px;
	border-bottom: 1px solid var(--color-border-third);

	@media #{$media-md} {
		padding: 5px 15px 6px;
	}
}

.ticket-mini__logo {
	margin-right: 23px;

	@media #{$media-md} {
		margin-right: 42px;
	}
}

.ticket-mini__logo-img {
	display: block;

	@media #{$media-lg} {
		margin-right: 44px;
	}

	@media #{$media-xl} {
		margin-right: 42px;
	}
}

.ticket-mini__top-time {
	width: 67px;
	margin-left: auto;

	@media #{$media-md} {
		width: 120px;
	}

	@media #{$media-lg} {
		width: 95px;
	}
}

.ticket-mini__middle {
	display: grid;
	grid-template-columns: 1fr 67px;
	justify-content: space-between;
	gap: 10px;
	padding: 16px 10px 15px 53px;
	position: relative;

	@media #{$media-md} {
		grid-template-columns: 82px 1fr 135px;
		padding: 15px 0 17px 15px;
		gap: 0;
	}

	@media #{$media-lg} {
		grid-template-columns: 56px 1fr 110px;
	}

	@media #{$media-xl} {
		grid-template-columns: 82px 1fr 110px;
	}
}

.ticket-mini__union {
	width: 1px;
	height: 52%;
	background-color: var(--color-grey);
	position: absolute;
	top: 20px;
	left: 20px;

	&::before,
	&::after {
		content: "";
		width: 5px;
		height: 5px;
		background-color: inherit;
		border-radius: 50%;
		position: absolute;
		left: 0;
		transform: translateX(-50%);
	}

	&::before {
		top: 0;
	}

	&::after {
		bottom: 0;
	}

	@media #{$media-md} {
		height: 35px;
		top: 19px;
		left: 82px;
	}
}

.ticket-mini__col {
	display: grid;
	row-gap: 21px;

	&--time {
		display: none;
	}

	@media #{$media-md} {
		row-gap: 14px;

		&--time {
			display: grid;
		}
	}
}

.ticket-mini__col-item {
	display: block;

	&:last-child {
		margin-bottom: 0;
	}

	&--time {
		margin-bottom: 2px;
	}

	&--place {
		font-weight: 600;

		span {
			color: var(--color-grey);
			font-weight: 400;
			text-transform: uppercase;
		}
	}

	@media #{$media-md} {
		&--time {
			display: none;
		}

		&--place {
			padding-left: 24px;
		}
	}

	@media #{$media-lg} {
		&--place {
			padding-left: 26px;
		}
	}

	@media #{$media-xl} {
		&--place {
			padding-left: 24px;
		}
	}
}

.ticket-mini__bottom {
	display: flex;
	flex-direction: column;
	padding-top: 10px;
	border-top: 1px solid var(--color-border-third);

	@media #{$media-md} {
		flex-direction: row;
		align-items: center;
		padding-top: 1px;
		padding-left: 16px;
	}

	@media #{$media-lg} {
		padding-left: 15px;
	}
}

.ticket-mini__bottom-item {
	padding-left: 10px;
	margin-bottom: 6px;

	span {
		color: var(--color-grey);
	}

	@media #{$media-md} {
		padding-left: 0;
		margin-right: 30px;
		margin-bottom: 0;

		&:last-child {
			margin-right: 0;
		}
	}

	@media #{$media-lg} {
		margin-right: 20px;
	}

	@media #{$media-xl} {
		margin-right: 28px;
	}
}

.ticket-mini__bottom-icon {
	margin-right: 5px;
	margin-bottom: 2px;

	width: 2em;
	height: 1em;
}

.ticket-mini__btn-info {
	font-size: 12px;
	line-height: 30px;
	width: 100%;
	min-height: 30px;
	max-height: 30px;
	margin-top: 2px;
	padding: 0;
	border: none;
	border-radius: 0 0 4px 4px;

	@media #{$media-md} {
		width: 135px;
		margin-top: -2px;
		margin-left: auto;
		border-radius: 0 0 4px 0;
	}

	@media #{$media-lg} {
		width: 110px;
	}

	@media #{$media-xl} {
		min-width: 110px;
	}
}

.ticket-mini__info {
	display: none;
	margin-top: -1px;
	padding-top: 10px;
	border-top: 1px solid var(--color-border-third);

	@media #{$media-md} {
		justify-content: space-between;
		flex-wrap: wrap;
		padding: 12px 15px 5px 16px;
	}

	@media #{$media-lg} {
		padding-left: 15px;
	}
}

.ticket-mini__info-col {
	padding-left: 12px;

	&:first-child {
		grid-column: 1/-1;
		border-bottom: 1px solid var(--color-border-secondary);
	}

	@media #{$media-md} {
		padding-left: 0;
		padding-right: 10px;

		&:first-child {
			grid-column: auto;
			border-bottom: none;
		}
	}
}

.ticket-mini__info-item {
	display: block;
	font-size: 12px;
	font-weight: 500;
	white-space: nowrap;
	margin-bottom: 10px;

	b {
		font-weight: 700;
	}
}

.ticket-mobile {
	width: 100%;
	min-height: 100vh;
	background: #fbfbfb;
	box-sizing: border-box;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 999;
}

.ticket-mobile__container {
	padding-top: 50px;
	padding-bottom: 50px;
}

.ticket-mobile__close-btn {
	@include crossIcon;

	padding-right: 35px;
	position: absolute;
	top: 15px;
	right: 15px;
}

.ticket-mobile__ticket {
	border-top: 1px solid var(--color-border-third);
	box-shadow: none;
	margin-bottom: 0;

	.ticket__content {
		display: block;
	}
}

.ticket-mobile__btn {
	min-height: auto;
	padding: 6px 20px 7px;
}
