.checkbox {
  color: var(--color-white);
}
.checkbox--modal {
  color: var(--color-blue);
}
.checkbox--modal .checkbox-icon {
  left: 2px;
}
.checkbox--modal .checkbox-input:checked + .checkbox-label .checkbox-icon {
  background-color: var(--color-blue);
}

.checkbox-icon {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  border-radius: 2px;
  background-color: var(--color-white);
}

.checkbox-input {
  display: none;
}
.checkbox-input:checked + .checkbox-label .checkbox-icon {
  background-color: var(--color-blue);
}
.checkbox-input:disabled + .checkbox-label {
  color: var(--color-light-blue);
  pointer-events: none;
}
.checkbox-input:disabled + .checkbox-label .checkbox-icon {
  background-color: var(--color-light-blue);
}
.checkbox-input:checked:disabled + .checkbox-label .checkbox-icon {
  background-color: var(--color-white);
}

.checkbox-label {
  padding-left: 24px;
  cursor: pointer;
  position: relative;
}
